

.markdown-body {
    padding: 0px !important;
}

.markdown-body .pl-c {
  color: #6a737d;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #c59ae0;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #a6e22e;
}

.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
  color: #ffffff;
}

.markdown-body .pl-ent {
  color: #22863a;
}

.markdown-body .pl-k {
  color: #f92672;
}

.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
  color: #e6db74;
}

.markdown-body .pl-smw,
.markdown-body .pl-v {
  color: #ffffff;
}

.markdown-body .pl-bu {
  color: #b31d28;
}

.markdown-body .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.markdown-body .pl-c2 {
  background-color: #66d9ef;
  color: #fafbfc;
}

.markdown-body .pl-c2:before {
  content: "^M";
}

.markdown-body .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.markdown-body .pl-ml {
  color: #735c0f;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  color: #c59ae0;
  font-weight: 700;
}

.markdown-body .pl-mi {
  color: #ffffff;
  font-style: italic;
}

.markdown-body .pl-mb {
  color: #ffffff;
  font-weight: 700;
}

.markdown-body .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.markdown-body .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.markdown-body .pl-mc {
  background-color: #ffebda;
  color: #ffffff;
}

.markdown-body .pl-mi2 {
  background-color: #c59ae0;
  color: #f6f8fa;
}

.markdown-body .pl-mdr {
  color: #a6e22e;
  font-weight: 700;
}

.markdown-body .pl-ba {
  color: #586069;
}

.markdown-body .pl-sg {
  color: #959da5;
}

.markdown-body .pl-corl {
  color: #e6db74;
  text-decoration: underline;
}