

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
	font-size: 16px;
	font-size: calc(0.8rem + 0.25vw);
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400
}

h1 {
	font-size: 1.8em
}

b,
strong,
th {
	font-weight: 600
}

a {
	color: inherit;
	text-decoration: inherit
}

a:hover {
	text-decoration: underline
}

article a {
	color: #68f
}

header time {
	color: #8c8c8e
}

hr {
	border: 1px solid rgba(140, 140, 142, 0.3);
	margin: 2em 0
}

blockquote {
	background: rgba(140, 140, 142, 0.04);
	border-left: 4px solid #68f;
	padding: 1px 1.5em
}

blockquote,
figure {
	margin: 1em 0
}

img,
li {
	margin: .5em 0
}

img {
	border-radius: 2px;
	max-width: 100%;
	height: auto
}

table {
	box-shadow: 0 0 0 1px rgba(140, 140, 142, 0.12) inset;
	border-spacing: 1px;
	width: 100%
}

tr:hover,
tr:nth-child(odd) td {
	background: rgba(140, 140, 142, 0.06)
}

th,
td {
	box-shadow: 0 0 0 1px rgba(140, 140, 142, 0.12);
	padding: .5em 1em
}

pre {
	background: rgba(140, 140, 142, 0.12);
	border-radius: 2px;
	font-size: .8em;
	margin: 1.5em 0;
	padding: .8em 1.2em;
	overflow-x: auto
}

:not(pre)>code {
	font-size: .9em;
	background: rgba(140, 140, 142, 0.15);
	opacity: .75;
	border-radius: 2px;
	margin: 0 .1em;
	padding: .2em .4em;
	color: #c7254e !important;
	font-weight: bold;
}

.highlight pre {
	background: rgba(36, 37, 43, 0.9) !important;
	color: #fff
}

pre {
	background: rgba(36, 37, 43, 0.9) !important;
	color: #fff
}

.c {
	color: #a29f90
}

.err {
	color: #960050;
	background-color: #1e0010
}

.k {
	color: #66d9ef
}

.l {
	color: #ae81ff
}

.n {
	color: #f8f8f2
}

.o {
	color: #f92672
}

.p {
	color: #f8f8f2
}

.cm,
.cp,
.c1,
.cs {
	color: #75715e
}

.ge {
	font-style: italic
}

.gs {
	font-weight: bold
}

.kc,
.kd {
	color: #66d9ef
}

.kn {
	color: #f92672
}

.kp,
.kr,
.kt {
	color: #66d9ef
}

.ld {
	color: #e6db74
}

.m {
	color: #ae81ff
}

.s {
	color: #e6db74
}

.na {
	color: #a6e22e
}

.nb {
	color: #f8f8f2
}

.nc {
	color: #a6e22e
}

.no {
	color: #66d9ef
}

.nd {
	color: #a6e22e
}

.ni {
	color: #f8f8f2
}

.ne,
.nf {
	color: #a6e22e
}

.nl,
.nn {
	color: #f8f8f2
}

.nx {
	color: #a6e22e
}

.py {
	color: #f8f8f2
}

.nt {
	color: #f92672
}

.nv {
	color: #f8f8f2
}

.ow {
	color: #f92672
}

.w {
	color: #f8f8f2
}

.mf,
.mh,
.mi,
.mo {
	color: #ae81ff
}

.sb,
.sc,
.sd,
.s2 {
	color: #e6db74
}

.se {
	color: #ae81ff
}

.sh,
.si,
.sx,
.sr,
.s1,
.ss {
	color: #e6db74
}

.bp,
.vc,
.vg,
.vi {
	color: #f8f8f2
}

.il {
	color: #ae81ff
}

.gu {
	color: #75715e
}

.gd {
	color: #f92672
}

.gi {
	color: #a6e22e
}

body>header,
body>footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center
}

header h1,
header h2 {
	margin: 0
}

article header {
	margin-bottom: 1.5em
}

nav {
	margin: .5em -.8em
}

nav a {
	margin: 0 .8em
}

@media (prefers-color-scheme: light) {
	html {
		background: #fff;
		color: #18191d;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background: #fff;
		color: #18191d;
	}
}

.light {
	background: #fff;
	color: #18191d
}

.dark {
	background: #18191d;
	color: #fff
}

body>header,
article,
body>footer {
	padding: 1.5rem
}

@media (min-width: 40em) {
	body>header,
	article,
	body>footer {
		padding: 1.5rem calc(35% - 12rem)
	}
}

article header h1 {
	padding: .2em 0;
	border-bottom: 1px solid rgba(140, 140, 142, 0.16);
	margin-bottom: .5em
}

body>header {
	background: #1a1b20;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

footer {
	padding: 5rem !important;
}

