<!DOCTYPE html>

<head>
  <script src="https://kit.fontawesome.com/71dfc51b7d.js" crossorigin="anonymous"></script>

  <title>{{ page_title }}</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/classes.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <!-- Scripts -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</head>

<body>
  <div class="main-container">
    <header>
      <h1 style="font-weight: bold;"><a href="/">SlickLabz Blog</a></h1>
      <nav class="icons">
        <a href="https://github.com/CRFSlick" target="_blank"><svg>
            <use xlink:href="{{ url_for('static', filename='fontawesome/brands.svg') }}#github"></use>
          </svg></a><a href="https://twitter.com/CrfSlick" target="_blank"><svg>
            <use xlink:href="{{ url_for('static', filename='fontawesome/brands.svg') }}#twitter"></use>
          </svg></a><a href="https://www.hackthebox.eu/profile/161703" target="_blank"><svg>
            <use xlink:href="{{ url_for('static', filename='fontawesome/solid.svg') }}#cube"></use>
          </svg></a>
      </nav>
    </header>
    <br>

    {% block content %}
    {% endblock %}

    <br><br>
    <footer style="text-align: center;">
      <span style="font-size: 1rem; color: gray;">
        Made with <i class="fa fa-heart" aria-hidden="true"></i> by CRFSlick
      </span>
      <br>
      <span style="font-size: .7rem; color: gray;"><i class="fa fa-copyright" aria-hidden="true"></i>
        Copyright 2021 SlickLabz
      </span>
    </footer>
  </div>
</body>