{% extends "default.html" %}
{% block content %}

{% if posts|length <= 5 %}
{% set count=posts|length %}
{% else %}
{% set count=5 %}
{% endif %}

<!-- <br> -->

<article>
  <header>
    <h1>Welcome!</h1>
    <div>
      My name is Karol, aka CRFSlick, or Slick, and I like to work on wargames and capture the flag challenges in
      my free time.
      This blog is a platform for me to post my writeups for these challenges in hopes of reinforcing my own
      understanding of the challenges
      as well as showing others my train of thought. Thanks for stopping by and I hope you learn something new!
    </div>
  </header>
</article>

<article>
  <header>
    <h1>Recent Posts</h1>
  </header>
  <ul class="archive">
    {% for i in range(0, count) %}
    <li>
      <span>
        <a href="{{ posts[i].url }}">{{ posts[i].data.sub_category }} - {{ posts[i].data.title }}</a>
      </span>
    </li>
    {% endfor %}
  </ul>
</article>

<article>
  <header>
    <h1>All Posts</h1>
  </header>
  <ul class="archive">
    <li>
      <span>
        <a href="/posts">Click here to see more posts!</a>
      </span>
    </li>
  </ul>
</article>




{% endblock %}