{% extends "default.html" %}
{% block content %}

{% if posts|length <= 5 %}
{% set count=posts|length %}
{% else %}
{% set count=5 %}
{% endif %}

<article>
  <header>
    <h1>Welcome!</h1>
    <div>
      Hello! My name is Karol, aka CRFSlick, or Slick, and I like to work on wargames and capture the flag challanges in
      my freetime.
      This blog is a platform for me to post my write ups for these challanges in hopes of reinforcing my own
      understanding of the challanges
      as well as showing others my train of thought. Thanks for stopping by and I hope you learn something new!
    </div>
  </header>
</article>

<article>
  <header>
    <h1>Recent Posts</h1>
  </header>
  <ul class="archive">
    {% for i in range(0, count) %}
    <li>
      <span>
        <a href="{{ posts[i].url }}">{{ posts[i].data.sub_category }} - {{ posts[i].data.title }}</a>
      </span>
    </li>
    {% endfor %}
  </ul>
</article>

<article>
  <header>
    <h1>All Posts</h1>
  </header>
  <ul class="archive">
    <li>
      <span>
        <!-- <img src="{{ url_for('static', filename='images/craft.PNG') }}"> -->
        <a href="/posts">Click here to see more posts!</a>
      </span>
    </li>
  </ul>
</article>



{% endblock %}