{% extends "default.html" %}
{% block content %}

<article>
    <header>
      <span class="categories">#{{ post.data.category }}</span>
      <h1 style="position: relative">
        <img class="cover-img" src="{{ url_for('static', filename=post.data.cover_img) }}">
        {{ post.data.sub_category }} - {{post.data.title}}
      </h1>
      <time datetime="date">{{ post.data.date }}</time>
    </header>
    <span class="markdown-body">
      {{ post.data.content|safe }}
    </span>
</article>

{% endblock %}