{% extends "default.html" %}
{% block content %}

<article>
    <header>
      <span class="categories">#{{ post.data.category }}</span>
      <h1 style="position: relative">{{ post.data.sub_category }} - {{post.data.title}}</h1>
      <time datetime="test date">{{ post.data.date }}</time>
      <time datetime="test date"> • {{ post.data.views }}</time>
    </header>
    <span class="markdown-body">
      {{ post.data.content|safe }}
    </span>
</article>

<!-- <br><br> -->

<!-- <footer>
  <a class="gray" href="/">« Home</a>
  <a class="gray" href="/posts">More Posts »</a>
</footer> -->


{% endblock %}

